body {
    font: serif;
    display: flex;
    flex-direction: column;
}

.HeaderImages {
    width: 100%;
    max-width: 30px;
}

.content1Images {
    width: 100%;
    max-width: 200px;
}

.HobbyImages {
    width: 100%;
    max-width: 175px;
    border: 5px solid #feb8b8;
}

.QuoteImages {
    width: 100%;
    border: 5px solid #434343;
}

.header {
    background: #9be1db;
    color: black;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

.left-header, .right-header {
    display: flex;
    align-items: center;
    align-content: center;
}

.left-header {
    padding-left: 200px;
}

.right-header {
    padding-right: 100px;
}

.content1 {
    background: #feb8b8;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    padding: 35px;
}

.left-content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 25px;
    max-width: 200px;
}

.AboutMe {
    color: #018985;
    font-size: 36px;
    font-weight: 700;
}

.content2 {
    text-align: center;
}
.content2title {
    margin: 32px;
    color: #d64e4e;
    font-size: 72px;
}

.content2container {
    display: flex;
    justify-content: center;
    gap: 150px;
    color: #018985;
    padding-bottom: 32px;
}

.content3 {
    display: flex;
    justify-content: center;

}

.footer {
    background: #9be1db;
    color: black;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    padding: 8px;
}

a{
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    align-items: center;

}

.logo {
    font-size: 30px;
}